@media(max-width:576px) {
    .nav-link {
        margin-bottom: 15px;
    }

    .eco_header_h1 {
        margin-bottom: 10px;
        font-size: 45px;
        line-height: 50px;
    }

    .eco_header_button {
        margin-bottom: 20px;
        padding: 10px 28px;
    }

    .eco_header_h2 {
        margin-bottom: 10px;
        color: white;
    }

    .eco_div {
        margin-bottom: 15px;
    }

    .eco_header_p {
        color: white;
    }

    .manage {
        color: #fff;
    }

    /* section media */
    #clients {
        margin-bottom: 15px;
    }

    .eco_boxes {
        margin-bottom: 20px;
    }

    .eco_box-1_p {
        font-size: 6px;
        line-height: 6px;
    }

    .eco_box-1_h1 {
        font-size: 15px;
        line-height: 15px;
        margin-right: 3px;
    }

    .new_drops {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .new_drop_box_img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .new_drop_box_1 {
        margin-left: 0;
        margin-bottom: 0;
    }

    .new_drop_box_p {
        margin-left: 4px;
    }

    .new_drop_button {
        padding-top: 15px;
    }

    .new_drop_btnn {
        margin-bottom: 15px;
    }

    .our_mission_p {
        margin-left: 0;
        font-size: 25px;
        line-height: 25px;
    }

    .our_mission {
        margin-bottom: 10px;
    }

    .image_box {
        display: block;
    }

    .image_box_chair {
        width: 320px;
        height: 300px;
        margin-bottom: 15px;
        padding-top: 20px;
    }

    .section__titles_h1 {
        margin-bottom: 15px;
    }

    .section__titles_p {
        margin-left: 0;
    }

    .section__titles_button {
        margin-bottom: 15px;
    }

    .section__try img {
        width: 320px;
        height: 300px;
        margin-bottom: 15px;
    }

    .section__try {
        display: block;
    }

    .section_put {
        display: block;
        margin-bottom: 15px;
    }

    .one_img_box_photo {
        width: 320px;
        height: 300px;
    }

    .four_img_box img {
        width: 320px;
        height: 300px;
    }

    .shop_boxes {
        margin-bottom: 15px;
        justify-content: space-between;
    }

    .shop_contact {
        justify-content: space-between;
    }

    .palette_img {
        width: 100%;
        max-width: 500px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer_top {
        display: block;
    }

    .sign_need {
        padding-top: 8px;
    }

    .sign_button {
        margin-bottom: 14px;
    }

    .trustpilot a {
        margin-right: 2px;
    }

    .language h1 {
        margin-left: 0;
        font-size: 7px;
        line-height: 0;
    }

    footer {
        margin-bottom: 15px;
    }
}